:root {
  --rarog-color-bg: #f3f4f6;
  --rarog-color-bg-soft: #ffffff;
  --rarog-color-surface: #ffffff;
  --rarog-color-border: #e5e7eb;

  --rarog-color-text: #0f172a;
  --rarog-color-text-muted: #6b7280;
}
