/* Print utilities */

@media print {
  .print\:hidden { display: none !important; }
  .print\:block  { display: block !important; }
  .print\:inline { display: inline !important; }
  .print\:flex   { display: flex !important; }
}
