.m-0 { margin: 0; }
.mb-1 { margin-bottom: var(--rarog-space-1); }
.mt-1 { margin-top: var(--rarog-space-1); }
.mt-2 { margin-top: var(--rarog-space-2); }
.mt-3 { margin-top: var(--rarog-space-3); }
.mt-4 { margin-top: var(--rarog-space-4); }
.mb-2 { margin-bottom: var(--rarog-space-2); }
.mb-3 { margin-bottom: var(--rarog-space-3); }
.mb-4 { margin-bottom: var(--rarog-space-4); }

.p-0 { padding: 0; }
.p-2 { padding: var(--rarog-space-2); }
.p-3 { padding: var(--rarog-space-3); }
.p-4 { padding: var(--rarog-space-4); }
.p-6 { padding: var(--rarog-space-6); }
