/* Collapse / Accordion */

.collapse {
  transition: height 0.2s ease-out, opacity 0.2s ease-out;
}

.collapse[hidden] {
  display: none;
  opacity: 0;
}

.collapse.rg-collapse-open {
  opacity: 1;
}


.accordion-panel {
  transition: opacity 0.2s ease-out;
}

.accordion-panel[hidden] {
  opacity: 0;
}

.accordion-panel:not([hidden]) {
  opacity: 1;
}
