/* Progress */

.progress {
  width: 100%;
  height: 0.75rem;
  background-color: var(--rarog-color-bg);
  border-radius: 999px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: var(--rarog-color-primary);
  border-radius: inherit;
  transition: width 0.2s ease-out;
}
