:root {
  --rarog-space-0: 0;
  --rarog-space-1: 0.25rem;
  --rarog-space-2: 0.5rem;
  --rarog-space-3: 0.75rem;
  --rarog-space-4: 1rem;
  --rarog-space-5: 1.25rem;
  --rarog-space-6: 1.5rem;
  --rarog-space-8: 2rem;
  --rarog-space-10: 2.5rem;
  --rarog-space-12: 3rem;
}
